<div class="top-menu">

  <img class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- <div *ngFor="let pair of course | keyvalue">
  {{ pair.key + ': ' + pair.value }}
</div> -->

<!-- <div style="border: 5px solid red; min-height: 200px; margin: 10px">
  <button (click)="onPrefetch()">Trigger Prefetch</button>
  
  <button (click)="onDisplay()">Trigger Display</button>
</div> -->

<!-- <h1 #title>Trigger viewport</h1> -->

<!-- <div class="demo-trigger">
  <input placeholder="Type to trigger prefetch" #prefetch />
  <button #display>Trigger Display</button>
</div> -->

<!-- @defer (when display; prefetch when performPrefetch) { -->
<!-- @defer {
  <div class="courses">
    <course-card (courseSelected)="onCourseSelected($event)" [course]="courses[0]" />
  </div>
}
@placeholder {
  <h2>This is the placeholder!</h2>
}
@loading {
  <h2>This is a loading indicator...</h2>
}
@error {
  <h2>An error occurred.</h2>
} -->

<!-- <button (click)="onCoursesEdited()">Edit Courses</button> -->

<div class="courses" #container *ngIf="courses[0] as course">
  <!-- <course-card *ngFor="let course of courses"
    (courseSelected)="onCourseSelected($event)" [course]="course"
  >
    <img #courseImage width="300" alt="Angular Logo" [src]="course.iconUrl" />
  </course-card> -->

  <course-card (courseSelected)="onCourseSelected($event)" [course]="course">
    <course-image [src]="course.iconUrl"></course-image>

    <div class="course-description">
      {{ course.longDescription }}
    </div>

    Edit description: <textarea></textarea>
  </course-card>
</div>
